* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("../images/background/wallpaper.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-color: #0e175e;
  background-position: center center;
}

/* Top icon bar */
.top-icon{
  margin: 0px 10px;
  height: 20px;
  vertical-align: middle;
}

.top-nav{
  position: relative;
  font-size: 13px;
  height: 25px;
  background-color: #c1c0c0; 
  font-family: 'Mukta', sans-serif; 
  font-weight: 500;
  color: rgb(45, 44, 44);
}

.top-nav-left{
  position: absolute;
  top: 10%;
  left: 3%;
  width: fit-content;
}

.top-nav-right{
  position: absolute;
  top: 10%;
  right: 2%;
  width: fit-content;
}
.top-nav-items{
  margin-top: 10px;
  margin-top: 10px;
  display: inline;  
}

.top-icon-button{
  background-color: inherit;
  border: none;
  margin: 0px 15px;
}
/* Top icon bar */

.navbar {
  height: 70px;
  width: 100%;
  padding: 14px 30px;
  background-color: #091943;
  /* position: relative; */
  opacity: 100%;
  position: sticky;
  top: -1px;
  z-index: 9;


}

.navbar .nav-header {
  display: inline;
  text-decoration: none;
  font-size: 18px;
  color: #eee;
}

.navbar .nav-header .nav-logo {
  display: inline-block;
  margin-top: -7px;
  border-radius: 50px;
}

.logo {
  border-radius: 50px;

}

.navbar .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.navbar .nav-links .loginBtn {
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(9, 14, 90);
}

.navbar .nav-links a {
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: white;
}

/* Hover effects */
.navbar .nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.3);

}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}

.slogan {
  padding: 0px 10px;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Telegram refrence link start*/

.telegram-top,
.links{
  background-color: #fcfdff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 2px;
}

.telegram-logo{
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 5%;
  margin-right: 20px;
  padding: 7px;
  width: 80px;
  z-index: 9;
}

/* Telegram refrence link start*/

/* IFRAME  Start*/

.youtube-div{
  position: absolute;
  top: 17%;
  left:35%;
  width: 60%;
  height: 400px;
  text-align: center;
  background-color: #ccced2;
  margin-top: 50px;
  
}

/* IFRAME  ENd*/
/* WELCOME message */

.welcome{
  position: relative;
  background-color: #c1c0c0;
  height: 600px;
  background-image: url("../images/background/ytbackground.jpg");

}

.welcome-msg {
  position: absolute;
  top: 10px;
  margin-left: 20px;
  color: #eee;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 130px;
  width: fit-content;
  margin-top: 0px;
}

.small-welcome {
  position: absolute;
  top:50%;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 20px;
  width: fit-content;

}

.welcome-msg,.small-welcome {
  margin-left: 30px;
  margin-right: 0px;
}

.companyname,.companyname2 {
  background: -webkit-linear-gradient(0deg, rgb(0, 255, 13) 0%, rgb(255, 255, 255) 59%, rgb(255, 0, 0) 62%,rgb(241, 104, 104) 82%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

.companyname2{
  display: none;
}
/* End of welcome message */

/* start of results */

.results .message{
  color: #fcfdff;
  font-family: 'Roboto Slab', serif;
  color: #2403a6;
  font-weight: 600;
  text-decoration: double;
}

.results{
  margin-top: 0px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: rgba(0, 255, 234, 0.7);
  height: 550px;
  /* background-color: #9b9b1d; */
}

.card{
  color: #ccced2;
  position: relative;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 0);
  display: inline-block;
  margin: 40px;
  background-color: rgb(234, 234, 235);
  height: 320px;
  width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  border-radius: 10px;
}

.cards{
  overflow-y: scroll;
  white-space: nowrap;
  /* background-color: rgba(41, 28, 41, 0.5); */
}

/* CARD personalation */

.stockname{
  position: absolute;
  width: 100%;
  font-size: 25px ;
  font-weight: bold;
  top: 5%;
  color: black;
  text-align: center;
}

.full-stock-name{
  color: rgb(123, 121, 121);
  position: absolute;
  font-size: 15px;
  left: 10px;
  top: 17%;
}

.entry-price{
  color: rgb(74, 73, 73);
  position: absolute;
  top: 25%;
  left: 5%;
}

.exit-price{
  color: rgb(74, 73, 73);
  position: absolute;
  top: 25%;
  right: 10%;
}

.exit-date{
  color: rgb(74, 73, 73);
  position: absolute;
  top: 35%;
  right: 10%;
}

.entry-date{
  color: rgb(74, 73, 73);
  position: absolute;
  top: 35%;
  left: 5%;
}

.strategy{
  color: rgb(74, 73, 73);
  position: absolute;
  top: 45%;
  left: 5%;
}

.profit{
  position: absolute;
  color: rgb(6, 209, 33);
  font-weight: 700;
}

.per{
  position: absolute;
  right: 7%;
  font-size: 40px;
  bottom: 26%;
}

.amt{
  position: absolute;
  text-align: center;

  font-size: 40px;
  bottom: 8%;
  width: 100%;
}

.prem-message{
  color: darkblue;
  position: absolute;
  margin: 40px 20px;
  text-align: center;
  font-size: xx-large;
  white-space : normal;
}

.card button{
  position: absolute;
  font-size: 20px;
  left: 25%;
  height: 50px;
  width: 50%;
  bottom: 10%;
  border-radius: 20px;
}


/* end of results */


/* start of moto  */
.message {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 40pt;
  padding: 10px;
  color: rgb(2, 2, 2);
}

.moto{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: rgb(0, 247, 82);
  padding-bottom: 30px;
}

.contact-page{
  margin: 20px;
  position: relative;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
}

.moto-form{
  width: 80%;
  height: 40px;
  margin: 10px;
}

.heading{
  width: 100%;
  color: black;
  font-size: larger;
  margin-bottom: 10px;
}

/* End of moto */

/* Footer starts */

.footer{
  border-top: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: 250px;
  background-color: rgb(73, 193, 249,0.8);
}

.main-list{
  margin-top: 3%;
  margin-left: 11%;
  display: inline-block;
}

.header{
  font-weight: bolder;
  font-size: 25px;
}

.sub-list{
  margin-top: 8px;
  font-size: 18px;
}


/* Footer */

/* delete */
.bitcoin{
  color: rgb(219, 54, 54);
}
/* delete */

@media (max-width: 1000px) {

.companyname{
  display: none;
}

.companyname2{
  display: block;
}

  
/* IFRAME  Start*/

.youtube-div{
  position: absolute;
  top: 80px;
  left: 10%;
  width: 80%;
  height: 330px;
  
}

/* IFRAME  ENd*/
/* WELCOME message */

.welcome{
  position: relative; 
  height: 500px;
}

.welcome-msg {
  top: 0%;
  font-size: 100px;
}

.small-welcome {
  top:20%; 


}

.welcome-msg,.small-welcome {
  margin-left: 20px;
}

/* End of welcome message */

/* Cards results */



.results .message{
  font-size: 45px;
}

/* Footer starts */

.footer{
  height: 250px;
}

.main-list{
  margin-top: 3%;
  margin-left: 70px;
}

/* Footer */


}

@media (max-width:800px) {
  .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }

  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }

  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked~.nav-btn label {
    background-color: rgb(9, 14, 90);
  }

  .navbar .nav-links {
    position: absolute;
    display: block;
    text-align: center;
    width: 25%;
    background-color: rgb(9, 14, 90);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }

  .navbar .nav-links a {
    display: block;
  }

  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  /* when nav toggle button is checked */
  .navbar #nav-check:checked~.nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }

  .navbar .nav-links .loginBtn {
    padding: 10px 40px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(9, 14, 90);
  }

  /* WELCOME message */

  .welcome{
    height: 450px;
  }
.welcome-msg {
  font-size: 45px;
}

.small-welcome {
  top: 10%;
  font-size: 15px;
}

.welcome-msg,.small-welcome {
  margin-left: 15px;
}
/* End of welcome message */

/* IFRAME  Start*/

.youtube-div{
  left: 5%;
  width: 90%;
  height: 300px;
  margin: 20px 0px;
  
}

/* IFRAME  ENd*/


/* start of results */

.results{
  margin-top: 10px;
  height: 500px;
}


.results .message{
  font-size: 30px;
}
/* CARD personalation */

.full-stock-name{
    top: 15%;
}

.card{
  margin  : 10px 30px;
}

/* card personalize end */

/* end of results */


/* start of moto  */
.moto{

  padding: 20px;
  text-align: justify;
  padding-bottom: 30px;
}

.contact-page{
  margin: 20px;
  position: relative;
  left: 5%;
}

.moto-form{
  text-align: center;
  width: 90%;
  margin: 10px;
}


/* End of moto */

/* Footer starts */

.footer{
  height: 350px;
}

.main-list{
  margin-top: 3%;
  margin-left: 11%;
  display: inline-block;
}

.top-nav{
  display: none;
}

/* Footer */
}

@media (max-width:400px) {
  .slogan {
    width: 200px;
  }
}