*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../images/background/wallpaper.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-color: #0e175e;
    background-position: center center;   
  }
  .navbar{
    height: 70px;
    width: 100%;
    padding: 14px 30px;
    background-color: #091943;
    /* position: relative; */
    opacity: 100%;
    position: sticky;
    top: 0;
    z-index: 9;


  }

  .navbar .nav-header{
      display: inline;
      text-decoration: none;
      font-size: 18px;
      color: #eee;
    }
    
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
    border-radius: 50px;
  }

  .logo{
    border-radius: 50px;
    
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
  }
   
  .navbar .nav-links .loginBtn{
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(9, 14, 90);
  }
  .navbar .nav-links a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    background-color: rgba(0, 0, 0, 0.3);

  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }

  .slogan{
    padding: 0px 10px;
  }

/* Style the counter cards */
  .stockcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .row,.high-vol {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  .row .column,.high-vol .column {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    
  }

  .row .column .stockcard,.high-vol .column .stockcard{
  background-color: rgb(198, 201, 236);
  width: 300px;
  height: 100px;
  border-radius: 25px;
  position: relative;
  }

  .stockcard .card-name{
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }

  .stockcard .entry-price{
    position: absolute;
    top: 10%;
    right : 10%;
    font-size: 17px;
    color: #000;
    font-weight: bold;
  }

  .stockcard .exit-price{
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 17px;
    color: #000;
    font-weight: bold;
  }

  .stockcard .stoploss{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 17px;
    color: #000;
    font-weight: bold;
  }

  .stockcard .time-frame{
    position: absolute;
    top: 70%;
    right: 10%;
    font-size: 17px;
    color: #000;
    font-weight: bold;
  }

  .img-trend-up{
    position: absolute;
    top: 45%;
    right: 75%;
    width: 80px;
  }

  .img-trend-down{
    position: absolute;
    top: 29%;
    right: 75%;
    width: 80px;
  }

  .message{
    margin: auto;
    text-align: center;
    width: 60%;
    font-family: "Times New Roman", Times, serif;
    font-size: 20pt;
    padding: 10px;
    color: rgb(235, 244, 244);
    
  }

  .wrapper {
    padding: 1.5rem 1.5rem 1.5rem;
    transition: all 0.5s ease-in-out;
  }

  .card {
    position: relative;
    padding: 3rem;
    padding-bottom:.81rem;
    max-width: 30rem;
    margin-inline: auto;
    background-color: #f1f1f1;
    border-radius: 0.625rem;
    
  }

  .btn {
    cursor: pointer;
    padding: 0.85rem 1.85rem;
    border-radius: 1.6rem;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
  }
  .btn:hover {
    border-color: hsl(0deg, 0%, 100%);
    background-color: transparent;
    color: hsl(0deg, 0%, 100%);
  }

  .grid {
    display: grid;
 
    grid-gap: 20px;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
  }

  .btn__container{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0px;
  }
  
  .card-1 {
    background-color: hsl(30deg, 77%, 52%);
  }
  .card-1 .btn {
    color: hsl(30deg, 77%, 52%);
 }

  .card-2 {
    background-color: hsl(185deg, 98%, 23%);
  }
  .card-2 .btn {
    color: hsl(185deg, 98%, 23%);
  }

  .card-3 {
    background-color: rgb(103, 198, 197);
    
  }
  .card-3 .btn {
    color: hsl(179deg, 100%, 13%);
  }

  .card-4 {
    background-color: rgb(61, 148, 148);
  }
  .card-4 .btn {
    color: hsl(179deg, 100%, 13%);
  }

  .card__icon{
    width: 80px;
    height: 80px;
    
  }

  .card__headline {
    text-align: center;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .card__desc {
    text-align: justify;
    line-height: 1.56rem;
    margin-bottom: 5.06rem;
  }

@media (max-width: 1000px) {
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
  }

  .wrapper{
    width: 100%;
    text-align: center;
  }

  .card__desc {
    margin-bottom: 5.3rem;
  }

  .img-trend-up{
    top: 12%;
    right: 70%;
    width: 120px;
  }

  .img-trend-down{

    top: -10%;
    right: 68%;
    width: 120px;
  }

  .btn__container{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0px;
    left: 25%;
  }
}

@media (max-width:800px) {
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: rgb(9, 14, 90);
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 25%;
    background-color: rgb(9, 14, 90);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }
  .navbar .nav-links a {
    display: block;
  }

  .wrapper{
    width: 100%;
    text-align: center;
  }

  .card__desc{
    margin-bottom: 5.3rem;
  }
  
  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  
  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .navbar .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    font-weight: bold;
    color: rgb(9, 14, 90);
  }

  .column{
    height: 8em;
  }
    
  .row .column .stockcard,.high-vol .column .stockcard{
    height: 8em;
    width: 17em;
  }

  .message{
    font-size : 17px;
    padding: 6px;
  }


  .grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }

  .card{
    position: relative;
    border-radius: 25px;  
  }

  .img-trend-up{
    top: 10%;
    right: 60%;
    width: 150px;
  }

  .img-trend-down{

    top: -10%;
    right: 60%;
    width: 150px;
  }

  .btn__container{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0px;
    left: 25%;
  }
}

  @media (max-width:400px) {
    .slogan {
      width: 200px;
    }
    }
