


@media (max-width: 3000px) {
  


  


  .product-container{
    top: 100px;
    margin-top: 2%;
    height: calc(110vh - 10px);
    position: relative;
    width: 100%;
  }
  
  .barcode_and_desc{
    
    display: grid;
    grid-template-columns: 63% 37%;
    /* background-color: #04a2c2; */
  }

  .reg-container{
    margin: 0;
    position: absolute;
    position: relative;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background-color: red; */
    vertical-align: bottom;
    /* background-color: red; */
    align-items: center;
    /* display: grid; */
    
  }
  
  .barcode-container{
    display: inline-flex;
  }

  .barimage{
    padding: 10px 50px;
    /* display: flex; */
    justify-content: center;

  }
  
  
  .barcode_image{
    /* position: relative; */
    height: 25vh;
    aspect-ratio: 1;
    /* margin: 0px 44%; */
  }

  .features{
    padding-left: 15%;
    font-size: 3ex;
    background: -webkit-linear-gradient(0deg, rgb(81, 155, 239) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .help_message{
    margin-top: 5px;
    padding-top: 2px;
    font-size: 2.2ex;
    color: whitesmoke;
    text-align: center;
  }

  .upi{
    padding: 5%;
    text-align: justify;
    text-decoration: none;
    color: white;
    font-size: 2.7ex;
    letter-spacing: 1.3px;
    line-height: 3ex;
    word-spacing: 0.1ex;
  }

  .yt-btn {
    border: none;
    font-size: 30px;
    border-radius: 15px;
    /* font-family: inherit; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    width: 90%;
    margin: 5%;
    padding: 5px 20px;
    background: linear-gradient(to right, #04a2c2 50%, rgb(235, 246, 250) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    text-align: center;
    vertical-align: middle;
  }

  .yt-btn:hover {
    background-position: left bottom;
    color: white;
  }

  .telebtn{
    height: 40px;
    margin: 0px;
  }

  .pay_button{
    color: white;
    text-align: center;
    margin-bottom: 35px;
    font-size: 2ex;
  }

  .con{
    margin: 10px;
    padding: 5x;
  }
  
  .con-link{
    color: whitesmoke;
    text-decoration: underline;

  }
  .paymode{
    grid-template-columns: repeat(2,50%);
  }


.pre-title{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 500;
  /* color: rgb(199, 248, 194); */
  color: whitesmoke;
  /* padding: 20px; */
  line-height: 6vh;
}





  .features-btn{
    text-align: center;
    margin: 10px 15%;
    width: 70%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(48, 103, 192);
    padding: 8px;
    font-weight: 600;
    font-size: 3ex;
    border-radius: 25px;
  }


 


  .cost{
    color: rgb(143, 242, 235);
    margin-top: 10px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    font-size: 4ex;
    font-weight: 400;
  }

  




}

@media (max-width: 1641px) {

}


@media (max-width: 1024px) {

  .barcode-container{
    display: block;
  }

  .monthlybarcode{
    display:none;
  }

  


}

@media (max-width:850px) {

 

  .features{
    padding-left: 25px;
  }

  .barcode_and_desc{
    
    grid-template-columns: 60% 40%;
  }

  .product-container{
   margin-top: 10%;
  }

  .barcode_image{
    /* position: relative; */
    height: 15vh;
    aspect-ratio: 1;
    /* margin: 0px 44%; */
  }

  
}

@media (max-width:770px) {


    .slogan {
        width: 200px;
    }

    .product-container{
      height: 100vh;
      width: 80%;
    }

    .contact-footer{    
      position: relative;
      bottom: 0px;

    }


  
 
}


@media (max-width:480px) {  

 

  .product-container{
    height: 100vh;
    width: 100%;
  }

  .cost{
    font-size: 2ex;

  }

  .features{
    font-size: 1.7ex;
  }

  .help_message{
    font-size: 1.2ex;
  }
  
  .upi{
    font-size: 1.7ex;
    letter-spacing: 1px;
    line-height: 2.5ex;
    word-spacing: 0.1ex;
  }

  .features-btn{
    font-size: 1.5ex;
  }

  .barimage{
    padding: 10px 25px;
 
  }

}